# Python virtual environment
venv/

# Environment variables file
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDE specific files
.vscode/
.idea/
*.swp
*.swo